<ion-content>
  <div class="dashboard-page">
    <!-- Top Welcome Card -->
    <div class="top-card">
      <div>
        <p class="hello">Welcome back 👋</p>
        <h1>TradeX Paper</h1>
        <p class="subtitle">Paper trading only. No real orders.</p>
      </div>

      <div class="rocket">🚀</div>
    </div>

    <!-- Stats Cards -->
    <div class="stats-grid">
      <div class="stat-card main">
        <p>Demo Balance</p>
        <h2>₹{{ demoBalance | number:'1.2-2' }}</h2>
      </div>

      <div class="stat-card">
        <p>Today P&L</p>
        <h2 [class.profit]="todayPnl >= 0" [class.loss]="todayPnl < 0">
          ₹{{ todayPnl | number:'1.2-2' }}
        </h2>
      </div>

      <div class="stat-card">
        <p>Active Trades</p>
        <h2>{{ activeTrades }}</h2>
      </div>
    </div>

    <!-- Market Section -->
    <div class="section-title">
      <h2>Live Market</h2>
      <button type="button" (click)="goMarket()">View All</button>
    </div>

    <!-- Live Market List -->
    <div class="market-list">
      <div class="market-card" *ngFor="let asset of assets">
        <div class="asset-left">
          <div class="asset-icon">
            {{ asset.name.charAt(0) }}
          </div>

          <div class="asset-info">
            <h3>{{ asset.symbol }}</h3>
            <p>{{ asset.name }} · {{ asset.type }}</p>

            <p class="market-extra">
              H: {{ asset.high | number:'1.2-2' }}
              |
              L: {{ asset.low | number:'1.2-2' }}
            </p>

            <p class="market-extra">
              Vol: {{ asset.volume }}
            </p>
          </div>
        </div>

        <div class="asset-right">
          <h3 *ngIf="asset.price > 0">
            {{ asset.price | number:'1.2-4' }}
          </h3>

          <h3 *ngIf="asset.price === 0">
            Loading...
          </h3>

          <span [class.up]="asset.change >= 0" [class.down]="asset.change < 0">
            {{ asset.change | number:'1.2-2' }}%
          </span>
        </div>
      </div>
    </div>

    <!-- Bottom Navigation -->
    <div class="bottom-nav">
      <div class="nav-item active">
        🏠
        <span>Home</span>
      </div>

      <div class="nav-item">
        📊
        <span>Market</span>
      </div>

      <div class="nav-item">
        ⚡
        <span>Trade</span>
      </div>

      <div class="nav-item">
        💼
        <span>Portfolio</span>
      </div>

      <div class="nav-item">
        👤
        <span>Profile</span>
      </div>
    </div>
  </div>
</ion-content>